<h2>Create a new list</h2>

<div class="container">
  <%= simple_form_for @list do |r| %>
    <%= r.input :name %>
    <%= r.submit class: 'btn btn-primary' %>
  <% end %>
</div>
<div><%= link_to "Back to list", lists_path, class:"btn btn-primary" %></div>
